{% comment %}
  Christmas String Lights
  Creates 40 twinkling lights at the top (20 on mobile)
{% endcomment %}

<div class="holiday-lights">
  {% for i in (1..40) %}
    <div class="light-bulb"></div>
  {% endfor %}
</div>
