{% comment %}
  Holiday Snowfall Effect - INTENSE
  Creates 100 falling snowflakes (40 on mobile for performance)
{% endcomment %}

<div class="holiday-snow-container">
  {% for i in (1..100) %}
    <div class="snowflake">❄</div>
  {% endfor %}
</div>
