

<style {% if section.settings.section_preload == "false" %} class="gps-link gps-style" type="text/disabled-css" {% endif %}>.gps-503996928799802474.gps.gpsil [style*="--bg:"]{background:var(--bg)}.gps-503996928799802474.gps.gpsil [style*="--bga:"]{background-attachment:var(--bga)}.gps-503996928799802474.gps.gpsil [style*="--bgc:"]{background-color:var(--bgc)}.gps-503996928799802474.gps.gpsil [style*="--bgi:"]{background-image:var(--bgi)}.gps-503996928799802474.gps.gpsil [style*="--bgp:"]{background-position:var(--bgp)}.gps-503996928799802474.gps.gpsil [style*="--bgr:"]{background-repeat:var(--bgr)}.gps-503996928799802474.gps.gpsil [style*="--bgs:"]{background-size:var(--bgs)}.gps-503996928799802474.gps.gpsil [style*="--b:"]{border:var(--b)}.gps-503996928799802474.gps.gpsil [style*="--bc:"]{border-color:var(--bc)}.gps-503996928799802474.gps.gpsil [style*="--radius:"]{border-radius:var(--radius)}.gps-503996928799802474.gps.gpsil [style*="--bw:"]{border-width:var(--bw)}.gps-503996928799802474.gps.gpsil [style*="--shadow:"]{box-shadow:var(--shadow)}.gps-503996928799802474.gps.gpsil [style*="--c:"]{color:var(--c)}.gps-503996928799802474.gps.gpsil [style*="--cg:"]{-moz-column-gap:var(--cg);column-gap:var(--cg)}.gps-503996928799802474.gps.gpsil [style*="--gtc:"]{grid-template-columns:var(--gtc)}.gps-503996928799802474.gps.gpsil [style*="--jc:"]{justify-content:var(--jc)}.gps-503996928799802474.gps.gpsil [style*="--m:"]{margin:var(--m)}.gps-503996928799802474.gps.gpsil [style*="--mt:"]{margin-top:var(--mt)}.gps-503996928799802474.gps.gpsil [style*="--op:"]{opacity:var(--op)}.gps-503996928799802474.gps.gpsil [style*="--o:"]{order:var(--o)}.gps-503996928799802474.gps.gpsil [style*="--pc:"]{place-content:var(--pc)}.gps-503996928799802474.gps.gpsil [style*="--p:"]{padding:var(--p)}.gps-503996928799802474.gps.gpsil [style*="--pb:"]{padding-bottom:var(--pb)}.gps-503996928799802474.gps.gpsil [style*="--pl:"]{padding-left:var(--pl)}.gps-503996928799802474.gps.gpsil [style*="--pr:"]{padding-right:var(--pr)}.gps-503996928799802474.gps.gpsil [style*="--pt:"]{padding-top:var(--pt)}.gps-503996928799802474.gps.gpsil [style*="--ta:"]{text-align:var(--ta)}.gps-503996928799802474.gps.gpsil [style*="--t:"]{transform:var(--t)}.gps-503996928799802474.gps.gpsil [style*="--w:"]{width:var(--w)}@media only screen and (max-width:1024px){.gps-503996928799802474.gps.gpsil [style*="--pb-tablet:"]{padding-bottom:var(--pb-tablet)}.gps-503996928799802474.gps.gpsil [style*="--pl-tablet:"]{padding-left:var(--pl-tablet)}.gps-503996928799802474.gps.gpsil [style*="--pr-tablet:"]{padding-right:var(--pr-tablet)}.gps-503996928799802474.gps.gpsil [style*="--pt-tablet:"]{padding-top:var(--pt-tablet)}.gps-503996928799802474.gps.gpsil [style*="--w-tablet:"]{width:var(--w-tablet)}}@media only screen and (max-width:767px){.gps-503996928799802474.gps.gpsil [style*="--pl-mobile:"]{padding-left:var(--pl-mobile)}.gps-503996928799802474.gps.gpsil [style*="--pr-mobile:"]{padding-right:var(--pr-mobile)}.gps-503996928799802474.gps.gpsil [style*="--w-mobile:"]{width:var(--w-mobile)}}.gps-503996928799802474 .gp-relative{position:relative}.gps-503996928799802474 .gp-mx-auto{margin-left:auto;margin-right:auto}.gps-503996928799802474 .gp-mb-0{margin-bottom:0}.gps-503996928799802474 .gp-flex{display:flex}.gps-503996928799802474 .gp-grid{display:grid}.gps-503996928799802474 .\!gp-hidden{display:none!important}.gps-503996928799802474 .gp-hidden{display:none}.gps-503996928799802474 .gp-max-w-full{max-width:100%}.gps-503996928799802474 .gp-flex-col{flex-direction:column}.gps-503996928799802474 .gp-gap-y-0{row-gap:0}.gps-503996928799802474 .gp-transition-colors{transition-duration:.15s;transition-property:color,background-color,border-color,text-decoration-color,fill,stroke;transition-timing-function:cubic-bezier(.4,0,.2,1)}.gps-503996928799802474 .gp-duration-200{transition-duration:.2s}.gps-503996928799802474 .gp-ease-in-out{transition-timing-function:cubic-bezier(.4,0,.2,1)}@media (max-width:1024px){.gps-503996928799802474 .tablet\:\!gp-hidden{display:none!important}.gps-503996928799802474 .tablet\:gp-hidden{display:none}}@media (max-width:767px){.gps-503996928799802474 .mobile\:\!gp-hidden{display:none!important}.gps-503996928799802474 .mobile\:gp-hidden{display:none}}.gps-503996928799802474 .\[\&_\*\]\:gp-max-w-full *{max-width:100%}</style>

       
      
            <section
              class="gp-mx-auto gp-max-w-full {% if section.settings.section_preload == "false" %}gps-lazy {% endif %}"
              style="--w:calc(var(--g-ct-w, 1200px) + 2 * var(--g-ct-p, 15px));--w-tablet:100%;--w-mobile:calc(var(--g-ct-w, 100%) + 2 * var(--g-ct-p, 15px));--pl:var(--g-ct-p, 15px);--pl-tablet:0px;--pl-mobile:var(--g-ct-p, 15px);--pr:var(--g-ct-p, 15px);--pr-tablet:0px;--pr-mobile:var(--g-ct-p, 15px)"
            >
              
    <div
      enableLazyloadImage="true" id="g_i3Kv_okv" data-id="g_i3Kv_okv"
        style="--b:solid;--bc:#121212;--bw:0px;--shadow:none;--d:grid;--d-mobile:grid;--d-tablet:grid;--op:100%;--radius:var(--g-radius-none);--pt:0px;--pb:50px;--pt-tablet:0px;--pb-tablet:50px;--cg:32px;--pc:start;--gtc:minmax(0, 12fr);--w:var(--g-ct-w, 1200px);--w-tablet:100%;--w-mobile:var(--g-ct-w, 100%);--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll"
        class="g_i3Kv_okv gp-mx-auto gp-mb-0 gp-grid gp-max-w-full gp-gap-y-0 gp-transition-colors gp-duration-200 gp-ease-in-out [&_*]:gp-max-w-full"
    >
    <div
      enableLazyloadImage="true" label="Block" tag="Col" type="component"
      style="--jc:start"
      class="glnCkkv-RH gp-relative gp-flex gp-flex-col"
    >
      
  
    <div
      
      style="--b:solid;--bc:#121212;--bw:0px;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--radius:var(--g-radius-none);--mt:30px;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll;--ta:left"
      data-keep-class="true"
      class="gWvyHA7zLK "
    ><div><iframe
src="https://finder.vtinfo.com/finder/web/v2/iframe?custID=O9H&UUID=cJJgz06cci3MGA0hykCFzOtKOLLAlzL1Utqp" id="finder" width="100%" height="800" frameborder="0" scrolling="no"
allow="geolocation;"></iframe></div></div>
  
    </div>
    </div>
  
            </section>
           
    


{% schema %}
  {
    
    "name": "Section 3",
    "tag": "section",
    "class": "gps-503996928799802474 gps gpsil",
    "settings": [{"type":"paragraph","content":"Section design by GemPages. [Click here to start design](https://admin.shopify.com/store/spirited-hive/apps/gempages-cro/app/shopify/edit?pageType=GP_STATIC&editorId=503996800085001322&sectionId=503996928799802474)"},{"type":"select","label":"Section Preload","id":"section_preload","options":[{"label":"On","value":"true"},{"label":"Off","value":"false"},{"label":"Off Lazy Script","value":"off_lazy_script"}],"default":"false"},{"type":"text","label":"Checksum","id":"checksum"}],
    "blocks": [{"type": "@app"}],
    "locales": {}
  }
{% endschema %}
