

<style {% if section.settings.section_preload == "false" %} class="gps-link gps-style" type="text/disabled-css" {% endif %}>.gps-490501590357115761.gps.gpsil [style*="--aspect:"]{aspect-ratio:var(--aspect)}.gps-490501590357115761.gps.gpsil [style*="--bg:"]{background:var(--bg)}.gps-490501590357115761.gps.gpsil [style*="--bga:"]{background-attachment:var(--bga)}.gps-490501590357115761.gps.gpsil [style*="--bgc:"]{background-color:var(--bgc)}.gps-490501590357115761.gps.gpsil [style*="--bgi:"]{background-image:var(--bgi)}.gps-490501590357115761.gps.gpsil [style*="--bgp:"]{background-position:var(--bgp)}.gps-490501590357115761.gps.gpsil [style*="--bgr:"]{background-repeat:var(--bgr)}.gps-490501590357115761.gps.gpsil [style*="--bgs:"]{background-size:var(--bgs)}.gps-490501590357115761.gps.gpsil [style*="--b:"]{border:var(--b)}.gps-490501590357115761.gps.gpsil [style*="--bc:"]{border-color:var(--bc)}.gps-490501590357115761.gps.gpsil [style*="--radius:"]{border-radius:var(--radius)}.gps-490501590357115761.gps.gpsil [style*="--bw:"]{border-width:var(--bw)}.gps-490501590357115761.gps.gpsil [style*="--shadow:"]{box-shadow:var(--shadow)}.gps-490501590357115761.gps.gpsil [style*="--c:"]{color:var(--c)}.gps-490501590357115761.gps.gpsil [style*="--cg:"]{-moz-column-gap:var(--cg);column-gap:var(--cg)}.gps-490501590357115761.gps.gpsil [style*="--gtc:"]{grid-template-columns:var(--gtc)}.gps-490501590357115761.gps.gpsil [style*="--jc:"]{justify-content:var(--jc)}.gps-490501590357115761.gps.gpsil [style*="--m:"]{margin:var(--m)}.gps-490501590357115761.gps.gpsil [style*="--mb:"]{margin-bottom:var(--mb)}.gps-490501590357115761.gps.gpsil [style*="--mt:"]{margin-top:var(--mt)}.gps-490501590357115761.gps.gpsil [style*="--op:"]{opacity:var(--op)}.gps-490501590357115761.gps.gpsil [style*="--o:"]{order:var(--o)}.gps-490501590357115761.gps.gpsil [style*="--pc:"]{place-content:var(--pc)}.gps-490501590357115761.gps.gpsil [style*="--p:"]{padding:var(--p)}.gps-490501590357115761.gps.gpsil [style*="--pb:"]{padding-bottom:var(--pb)}.gps-490501590357115761.gps.gpsil [style*="--pl:"]{padding-left:var(--pl)}.gps-490501590357115761.gps.gpsil [style*="--pr:"]{padding-right:var(--pr)}.gps-490501590357115761.gps.gpsil [style*="--pt:"]{padding-top:var(--pt)}.gps-490501590357115761.gps.gpsil [style*="--w:"]{width:var(--w)}@media only screen and (max-width:1024px){.gps-490501590357115761.gps.gpsil [style*="--pl-tablet:"]{padding-left:var(--pl-tablet)}.gps-490501590357115761.gps.gpsil [style*="--pr-tablet:"]{padding-right:var(--pr-tablet)}.gps-490501590357115761.gps.gpsil [style*="--w-tablet:"]{width:var(--w-tablet)}}@media only screen and (max-width:767px){.gps-490501590357115761.gps.gpsil [style*="--pl-mobile:"]{padding-left:var(--pl-mobile)}.gps-490501590357115761.gps.gpsil [style*="--pr-mobile:"]{padding-right:var(--pr-mobile)}.gps-490501590357115761.gps.gpsil [style*="--w-mobile:"]{width:var(--w-mobile)}}.gps-490501590357115761 .-gp-translate-x-1\/2,.gps-490501590357115761 .-gp-translate-y-1\/2{--tw-translate-x:0;--tw-translate-y:0;--tw-rotate:0;--tw-skew-x:0;--tw-skew-y:0;--tw-scale-x:1;--tw-scale-y:1}.gps-490501590357115761 .gp-visible{visibility:visible}.gps-490501590357115761 .gp-invisible{visibility:hidden}.gps-490501590357115761 .gp-absolute{position:absolute}.gps-490501590357115761 .gp-relative{position:relative}.gps-490501590357115761 .gp-left-1\/2{left:50%}.gps-490501590357115761 .gp-top-1\/2{top:50%}.gps-490501590357115761 .gp-mx-auto{margin-left:auto;margin-right:auto}.gps-490501590357115761 .gp-mb-0{margin-bottom:0}.gps-490501590357115761 .gp-flex{display:flex}.gps-490501590357115761 .gp-grid{display:grid}.gps-490501590357115761 .\!gp-hidden{display:none!important}.gps-490501590357115761 .gp-hidden{display:none}.gps-490501590357115761 .gp-aspect-\[56\/32\]{aspect-ratio:56/32}.gps-490501590357115761 .gp-h-full{height:100%}.gps-490501590357115761 .gp-w-\[20px\]{width:20px}.gps-490501590357115761 .gp-w-\[56px\]{width:56px}.gps-490501590357115761 .gp-w-full{width:100%}.gps-490501590357115761 .\!gp-max-w-none{max-width:none!important}.gps-490501590357115761 .gp-max-w-full{max-width:100%}.gps-490501590357115761 .-gp-translate-x-1\/2{--tw-translate-x:-50%}.gps-490501590357115761 .-gp-translate-x-1\/2,.gps-490501590357115761 .-gp-translate-y-1\/2{transform:translate(var(--tw-translate-x),var(--tw-translate-y)) rotate(var(--tw-rotate)) skewX(var(--tw-skew-x)) skewY(var(--tw-skew-y)) scaleX(var(--tw-scale-x)) scaleY(var(--tw-scale-y))}.gps-490501590357115761 .-gp-translate-y-1\/2{--tw-translate-y:-50%}.gps-490501590357115761 .gp-flex-col{flex-direction:column}.gps-490501590357115761 .gp-items-center{align-items:center}.gps-490501590357115761 .gp-justify-center{justify-content:center}.gps-490501590357115761 .gp-gap-y-0{row-gap:0}.gps-490501590357115761 .gp-overflow-hidden{overflow:hidden}.gps-490501590357115761 .gp-rounded{border-radius:4px}.gps-490501590357115761 .gp-bg-black{--tw-bg-opacity:1;background-color:rgb(0 0 0/var(--tw-bg-opacity))}.gps-490501590357115761 .gp-bg-black\/80{background-color:rgba(0,0,0,.8)}.gps-490501590357115761 .gp-bg-cover{background-size:cover}.gps-490501590357115761 .gp-bg-center{background-position:50%}.gps-490501590357115761 .gp-text-white{--tw-text-opacity:1;color:rgb(255 255 255/var(--tw-text-opacity))}.gps-490501590357115761 .gp-opacity-100{opacity:1}.gps-490501590357115761 .gp-transition-colors{transition-duration:.15s;transition-property:color,background-color,border-color,text-decoration-color,fill,stroke;transition-timing-function:cubic-bezier(.4,0,.2,1)}.gps-490501590357115761 .gp-duration-200{transition-duration:.2s}.gps-490501590357115761 .gp-ease-in-out{transition-timing-function:cubic-bezier(.4,0,.2,1)}@media (hover:hover) and (pointer:fine){.gps-490501590357115761 .hover\:gp-bg-\[\#ef0800\]:hover{--tw-bg-opacity:1;background-color:rgb(239 8 0/var(--tw-bg-opacity))}}@media (max-width:1024px){.gps-490501590357115761 .tablet\:\!gp-hidden{display:none!important}.gps-490501590357115761 .tablet\:gp-hidden{display:none}}@media (max-width:767px){.gps-490501590357115761 .mobile\:\!gp-hidden{display:none!important}.gps-490501590357115761 .mobile\:gp-hidden{display:none}}.gps-490501590357115761 .\[\&_\*\]\:gp-max-w-full *{max-width:100%}.gps-490501590357115761 .\[\&_\>_article\]\:gp-aspect-\[var\(--aspect\)\]>article{aspect-ratio:var(--aspect)}@media (max-width:1024px){.gps-490501590357115761 .tablet\:\[\&_\>_article\]\:gp-aspect-\[var\(--aspect-tablet\2c _var\(--aspect\)\)\]>article{aspect-ratio:var(--aspect-tablet,var(--aspect))}}@media (max-width:767px){.gps-490501590357115761 .mobile\:\[\&_\>_article\]\:gp-aspect-\[var\(--aspect-mobile\2c _var\(--aspect-tablet\2c _var\(--aspect\)\)\)\]>article{aspect-ratio:var(--aspect-mobile,var(--aspect-tablet,var(--aspect)))}}</style>

       
      
            <section
              class="gp-mx-auto gp-max-w-full {% if section.settings.section_preload == "false" %}gps-lazy {% endif %}"
              style="--w:100%;--w-tablet:100%;--w-mobile:100%;--pl:0px;--pl-tablet:0px;--pl-mobile:0px;--pr:0px;--pr-tablet:0px;--pr-mobile:0px"
            >
              
    <div
      enableLazyloadImage="true" id="gLE4hjE6P1" data-id="gLE4hjE6P1"
        style="--b:solid;--bc:#121212;--bw:0px;--shadow:none;--d:grid;--d-mobile:grid;--d-tablet:grid;--op:100%;--radius:var(--g-radius-none);--pt:0px;--pb:0px;--cg:32px;--pc:start;--gtc:minmax(0, 12fr);--w:100%;--w-tablet:100%;--w-mobile:100%;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll"
        class="gLE4hjE6P1 gp-mx-auto gp-mb-0 gp-grid gp-max-w-full gp-gap-y-0 gp-transition-colors gp-duration-200 gp-ease-in-out [&_*]:gp-max-w-full"
    >
    <div
      enableLazyloadImage="true" label="Block" tag="Col" type="component"
      style="--jc:start"
      class="g2wM2kkM4k gp-relative gp-flex gp-flex-col"
    >
      
       
      
    <div
      enableLazyloadImage="true" parentTag="Col" id="guBJm1W_SP" data-id="guBJm1W_SP"
        style="--b:solid;--bc:#121212;--bw:0px;--shadow:none;--d:grid;--d-mobile:grid;--d-tablet:grid;--op:100%;--radius:var(--g-radius-none);--mb:0px;--cg:32px;--pc:start;--gtc:minmax(0, 12fr);--w:100%;--w-tablet:var(--g-ct-w, 100%);--w-mobile:var(--g-ct-w, 100%);--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll"
        class="guBJm1W_SP gp-mx-auto gp-mb-0 gp-grid gp-max-w-full gp-gap-y-0 gp-transition-colors gp-duration-200 gp-ease-in-out [&_*]:gp-max-w-full"
    >
    <div
      enableLazyloadImage="true" label="Block" tag="Col" type="component"
      style="--jc:start"
      class="gpZhQ-36kq gp-relative gp-flex gp-flex-col"
    >
      
    <div
      
      data-id="gUubMGNLNV"
      class="!gp-max-w-none gp-bg-black gp-overflow-hidden [&_>_article]:gp-aspect-[var(--aspect)] tablet:[&_>_article]:gp-aspect-[var(--aspect-tablet,_var(--aspect))] mobile:[&_>_article]:gp-aspect-[var(--aspect-mobile,_var(--aspect-tablet,_var(--aspect)))] gp-relative gUubMGNLNV"
      style="--b:solid;--bc:#121212;--bw:0px;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--radius:var(--g-radius-none);--mt:var(--g-s-l);--mb:0px;--pt:0px;--aspect:auto"
    >
      
    <gp-lite-vimeo-embed gp-data='{"id":"896698650","thumbnail":"{{ '490296009264465063-ef8b565c-a6b0-4119-ad04-eb4eb685e528.webp' | asset_url }}","lazy":true,"iframeSrc":"https://player.vimeo.com/video/896698650?&autoplay=true&muted=false&loop=false&controls=true&autopause=false","title":"Video","style":{"--aspect":"auto"}}'>
      <article
        aria-hidden
        class="gp-relative gp-bg-cover gp-bg-center gp-lite-vimeo-embed-article"
        data-title="Video"
        style="--aspect:auto"
      >
        <img src="{{ '490296009264465063-ef8b565c-a6b0-4119-ad04-eb4eb685e528.webp' | asset_url }}" alt="Poster" class="gp-invisible gp-h-full gp-w-full" />
        <button
          type="button"
          class="gp-absolute gp-top-1/2 gp-left-1/2 gp-flex gp-aspect-[56/32] gp-w-[56px] -gp-translate-x-1/2 -gp-translate-y-1/2 gp-items-center gp-justify-center gp-rounded gp-bg-black/80 gp-transition-colors hover:gp-bg-[#ef0800] gp-lite-vimeo-embed-button gp-visible gp-opacity-100"
          aria-label="Play"
        >
          <svg class="gp-w-[20px] gp-text-white" viewBox="0 0 24 24">
            <path
              fill="currentColor"
              d="M5 5.274c0-1.707 1.826-2.792 3.325-1.977l12.362 6.726c1.566.853 1.566 3.101 0 3.953L8.325 20.702C6.826 21.518 5 20.432 5 18.726V5.274Z"
            />
          </svg>
        </button>
        
      </article>
    </gp-lite-vimeo-embed>
    <script {% if section.settings.section_preload == "false" %}class="gps-link" delay {% else %}src{% endif %}="https://d2ls1pfffhvy22.cloudfront.net/assets-v2/gp-lite-vimeo-embed.js?v={{ shop.metafields.GEMPAGES.ASSETS_VERSION }}" defer="defer"></script>
  
    </div>
  
    </div>
    </div>
   
    
    </div>
    </div>
  
            </section>
           
    


{% schema %}
  {
    
    "name": "Section 9",
    "tag": "section",
    "class": "gps-490501590357115761 gps gpsil",
    "settings": [{"type":"paragraph","content":"Section design by GemPages. [Click here to start design](https://admin.shopify.com/store/spirited-hive/apps/gempages-cro/app/shopify/edit?pageType=GP_INDEX&editorId=490296107276960935&sectionId=490501590357115761)"},{"type":"select","label":"Section Preload","id":"section_preload","options":[{"label":"On","value":"true"},{"label":"Off","value":"false"},{"label":"Off Lazy Script","value":"off_lazy_script"}],"default":"false"},{"type":"text","label":"Checksum","id":"checksum"}],
    "blocks": [{"type": "@app"}],
    "locales": {}
  }
{% endschema %}
