/* ========================================
   HOLIDAY SNOWFALL EFFECT
   ======================================== */

.holiday-snow-container {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  pointer-events: none;
  z-index: 9999;
  overflow: visible;
}

.snowflake {
  position: absolute;
  color: white;
  font-size: 1em;
  user-select: none;
  animation: snowfall linear infinite;
  text-shadow: 0 0 8px rgba(255, 255, 255, 0.9);
  will-change: transform, opacity;
}

@keyframes snowfall {
  0% {
    transform: translateY(0) translateX(0) rotate(0deg);
    opacity: 1;
  }
  25% {
    transform: translateY(25vh) translateX(-10px) rotate(90deg);
  }
  50% {
    transform: translateY(50vh) translateX(10px) rotate(180deg);
  }
  75% {
    transform: translateY(75vh) translateX(-5px) rotate(270deg);
  }
  100% {
    transform: translateY(110vh) translateX(5px) rotate(360deg);
    opacity: 0.6;
  }
}

/* Randomize snowflake positions and speeds - negative delays make them start mid-fall */
.snowflake:nth-child(1) { left: 10%; top: 15%; animation-duration: 10s; animation-delay: -3s; font-size: 0.8em; }
.snowflake:nth-child(2) { left: 20%; top: 45%; animation-duration: 12s; animation-delay: -7s; font-size: 1.2em; }
.snowflake:nth-child(3) { left: 30%; top: 25%; animation-duration: 9s; animation-delay: -4s; font-size: 1em; }
.snowflake:nth-child(4) { left: 40%; top: 65%; animation-duration: 11s; animation-delay: -8s; font-size: 0.9em; }
.snowflake:nth-child(5) { left: 50%; top: 35%; animation-duration: 13s; animation-delay: -5s; font-size: 1.1em; }
.snowflake:nth-child(6) { left: 60%; top: 55%; animation-duration: 10s; animation-delay: -6s; font-size: 1em; }
.snowflake:nth-child(7) { left: 70%; top: 10%; animation-duration: 11s; animation-delay: -2s; font-size: 0.8em; }
.snowflake:nth-child(8) { left: 80%; top: 75%; animation-duration: 12s; animation-delay: -9s; font-size: 1.2em; }
.snowflake:nth-child(9) { left: 90%; top: 30%; animation-duration: 10s; animation-delay: -4s; font-size: 0.9em; }
.snowflake:nth-child(10) { left: 15%; top: 50%; animation-duration: 13s; animation-delay: -7s; font-size: 1.1em; }
.snowflake:nth-child(11) { left: 25%; top: 20%; animation-duration: 11s; animation-delay: -3s; font-size: 1em; }
.snowflake:nth-child(12) { left: 35%; top: 70%; animation-duration: 12s; animation-delay: -8s; font-size: 0.8em; }
.snowflake:nth-child(13) { left: 45%; top: 40%; animation-duration: 10s; animation-delay: -5s; font-size: 1.2em; }
.snowflake:nth-child(14) { left: 55%; top: 60%; animation-duration: 11s; animation-delay: -7s; font-size: 0.9em; }
.snowflake:nth-child(15) { left: 65%; top: 15%; animation-duration: 13s; animation-delay: -2s; font-size: 1.1em; }
.snowflake:nth-child(16) { left: 75%; top: 80%; animation-duration: 10s; animation-delay: -9s; font-size: 1em; }
.snowflake:nth-child(17) { left: 85%; top: 35%; animation-duration: 12s; animation-delay: -5s; font-size: 0.8em; }
.snowflake:nth-child(18) { left: 95%; top: 50%; animation-duration: 11s; animation-delay: -6s; font-size: 1.2em; }
.snowflake:nth-child(19) { left: 5%; top: 25%; animation-duration: 10s; animation-delay: -3s; font-size: 0.9em; }
.snowflake:nth-child(20) { left: 12%; top: 65%; animation-duration: 13s; animation-delay: -8s; font-size: 1.1em; }
.snowflake:nth-child(21) { left: 22%; top: 45%; animation-duration: 11s; animation-delay: -5s; font-size: 1em; }
.snowflake:nth-child(22) { left: 32%; top: 18%; animation-duration: 12s; animation-delay: -3s; font-size: 0.8em; }
.snowflake:nth-child(23) { left: 42%; top: 72%; animation-duration: 10s; animation-delay: -8s; font-size: 1.2em; }
.snowflake:nth-child(24) { left: 52%; top: 38%; animation-duration: 11s; animation-delay: -5s; font-size: 0.9em; }
.snowflake:nth-child(25) { left: 62%; top: 58%; animation-duration: 13s; animation-delay: -7s; font-size: 1.1em; }
.snowflake:nth-child(26) { left: 72%; top: 12%; animation-duration: 10s; animation-delay: -2s; font-size: 1em; }
.snowflake:nth-child(27) { left: 82%; top: 68%; animation-duration: 12s; animation-delay: -8s; font-size: 0.8em; }
.snowflake:nth-child(28) { left: 92%; top: 42%; animation-duration: 11s; animation-delay: -5s; font-size: 1.2em; }
.snowflake:nth-child(29) { left: 8%; top: 28%; animation-duration: 10s; animation-delay: -4s; font-size: 0.9em; }
.snowflake:nth-child(30) { left: 18%; top: 62%; animation-duration: 13s; animation-delay: -8s; font-size: 1.1em; }
.snowflake:nth-child(31) { left: 28%; top: 22%; animation-duration: 11s; animation-delay: -3s; font-size: 1em; }
.snowflake:nth-child(32) { left: 38%; top: 78%; animation-duration: 10s; animation-delay: -9s; font-size: 0.9em; }
.snowflake:nth-child(33) { left: 48%; top: 32%; animation-duration: 12s; animation-delay: -4s; font-size: 1.1em; }
.snowflake:nth-child(34) { left: 58%; top: 52%; animation-duration: 9s; animation-delay: -6s; font-size: 0.8em; }
.snowflake:nth-child(35) { left: 68%; top: 8%; animation-duration: 13s; animation-delay: -1s; font-size: 1.2em; }
.snowflake:nth-child(36) { left: 78%; top: 48%; animation-duration: 11s; animation-delay: -6s; font-size: 1em; }
.snowflake:nth-child(37) { left: 88%; top: 36%; animation-duration: 10s; animation-delay: -4s; font-size: 0.9em; }
.snowflake:nth-child(38) { left: 3%; top: 66%; animation-duration: 12s; animation-delay: -8s; font-size: 1.1em; }
.snowflake:nth-child(39) { left: 13%; top: 14%; animation-duration: 9s; animation-delay: -2s; font-size: 0.8em; }
.snowflake:nth-child(40) { left: 23%; top: 74%; animation-duration: 13s; animation-delay: -9s; font-size: 1.2em; }
.snowflake:nth-child(41) { left: 33%; top: 44%; animation-duration: 11s; animation-delay: -5s; font-size: 1em; }
.snowflake:nth-child(42) { left: 43%; top: 56%; animation-duration: 10s; animation-delay: -7s; font-size: 0.9em; }
.snowflake:nth-child(43) { left: 53%; top: 26%; animation-duration: 12s; animation-delay: -4s; font-size: 1.1em; }
.snowflake:nth-child(44) { left: 63%; top: 64%; animation-duration: 9s; animation-delay: -7s; font-size: 0.8em; }
.snowflake:nth-child(45) { left: 73%; top: 16%; animation-duration: 13s; animation-delay: -2s; font-size: 1.2em; }
.snowflake:nth-child(46) { left: 83%; top: 76%; animation-duration: 11s; animation-delay: -9s; font-size: 1em; }
.snowflake:nth-child(47) { left: 93%; top: 34%; animation-duration: 10s; animation-delay: -4s; font-size: 0.9em; }
.snowflake:nth-child(48) { left: 7%; top: 54%; animation-duration: 12s; animation-delay: -7s; font-size: 1.1em; }
.snowflake:nth-child(49) { left: 17%; top: 24%; animation-duration: 9s; animation-delay: -3s; font-size: 0.8em; }
.snowflake:nth-child(50) { left: 27%; top: 84%; animation-duration: 13s; animation-delay: -10s; font-size: 1.2em; }

/* Additional snowflakes for intense effect */
.snowflake:nth-child(51) { left: 11%; top: 41%; animation-duration: 8s; animation-delay: -4s; font-size: 1.3em; }
.snowflake:nth-child(52) { left: 21%; top: 69%; animation-duration: 9s; animation-delay: -7s; font-size: 0.7em; }
.snowflake:nth-child(53) { left: 31%; top: 19%; animation-duration: 7s; animation-delay: -2s; font-size: 1.5em; }
.snowflake:nth-child(54) { left: 41%; top: 71%; animation-duration: 10s; animation-delay: -8s; font-size: 0.9em; }
.snowflake:nth-child(55) { left: 51%; top: 33%; animation-duration: 8s; animation-delay: -3s; font-size: 1.2em; }
.snowflake:nth-child(56) { left: 61%; top: 51%; animation-duration: 9s; animation-delay: -5s; font-size: 0.8em; }
.snowflake:nth-child(57) { left: 71%; top: 77%; animation-duration: 7s; animation-delay: -6s; font-size: 1.4em; }
.snowflake:nth-child(58) { left: 81%; top: 23%; animation-duration: 10s; animation-delay: -3s; font-size: 1em; }
.snowflake:nth-child(59) { left: 91%; top: 61%; animation-duration: 8s; animation-delay: -6s; font-size: 1.1em; }
.snowflake:nth-child(60) { left: 16%; top: 37%; animation-duration: 9s; animation-delay: -4s; font-size: 0.9em; }
.snowflake:nth-child(61) { left: 26%; top: 67%; animation-duration: 7s; animation-delay: -5s; font-size: 1.3em; }
.snowflake:nth-child(62) { left: 36%; top: 13%; animation-duration: 10s; animation-delay: -2s; font-size: 0.8em; }
.snowflake:nth-child(63) { left: 46%; top: 73%; animation-duration: 8s; animation-delay: -7s; font-size: 1.2em; }
.snowflake:nth-child(64) { left: 56%; top: 43%; animation-duration: 9s; animation-delay: -5s; font-size: 1em; }
.snowflake:nth-child(65) { left: 66%; top: 81%; animation-duration: 7s; animation-delay: -6s; font-size: 1.4em; }
.snowflake:nth-child(66) { left: 76%; top: 27%; animation-duration: 10s; animation-delay: -3s; font-size: 0.7em; }
.snowflake:nth-child(67) { left: 86%; top: 63%; animation-duration: 8s; animation-delay: -6s; font-size: 1.1em; }
.snowflake:nth-child(68) { left: 96%; top: 11%; animation-duration: 9s; animation-delay: -1s; font-size: 1.3em; }
.snowflake:nth-child(69) { left: 6%; top: 59%; animation-duration: 7s; animation-delay: -5s; font-size: 0.9em; }
.snowflake:nth-child(70) { left: 14%; top: 31%; animation-duration: 10s; animation-delay: -4s; font-size: 1.2em; }
.snowflake:nth-child(71) { left: 24%; top: 79%; animation-duration: 8s; animation-delay: -7s; font-size: 0.8em; }
.snowflake:nth-child(72) { left: 34%; top: 21%; animation-duration: 9s; animation-delay: -2s; font-size: 1.5em; }
.snowflake:nth-child(73) { left: 44%; top: 53%; animation-duration: 7s; animation-delay: -5s; font-size: 1em; }
.snowflake:nth-child(74) { left: 54%; top: 17%; animation-duration: 10s; animation-delay: -2s; font-size: 1.1em; }
.snowflake:nth-child(75) { left: 64%; top: 47%; animation-duration: 8s; animation-delay: -5s; font-size: 0.9em; }
.snowflake:nth-child(76) { left: 74%; top: 83%; animation-duration: 9s; animation-delay: -8s; font-size: 1.3em; }
.snowflake:nth-child(77) { left: 84%; top: 39%; animation-duration: 7s; animation-delay: -4s; font-size: 1.2em; }
.snowflake:nth-child(78) { left: 94%; top: 29%; animation-duration: 10s; animation-delay: -3s; font-size: 0.8em; }
.snowflake:nth-child(79) { left: 9%; top: 75%; animation-duration: 8s; animation-delay: -7s; font-size: 1.4em; }
.snowflake:nth-child(80) { left: 19%; top: 9%; animation-duration: 9s; animation-delay: -1s; font-size: 1em; }
.snowflake:nth-child(81) { left: 29%; top: 57%; animation-duration: 7s; animation-delay: -5s; font-size: 1.1em; }
.snowflake:nth-child(82) { left: 39%; top: 49%; animation-duration: 10s; animation-delay: -6s; font-size: 0.9em; }
.snowflake:nth-child(83) { left: 49%; top: 85%; animation-duration: 8s; animation-delay: -8s; font-size: 1.3em; }
.snowflake:nth-child(84) { left: 59%; top: 35%; animation-duration: 9s; animation-delay: -4s; font-size: 1.2em; }
.snowflake:nth-child(85) { left: 69%; top: 87%; animation-duration: 7s; animation-delay: -7s; font-size: 0.8em; }
.snowflake:nth-child(86) { left: 79%; top: 7%; animation-duration: 10s; animation-delay: -1s; font-size: 1.5em; }
.snowflake:nth-child(87) { left: 89%; top: 55%; animation-duration: 8s; animation-delay: -5s; font-size: 1em; }
.snowflake:nth-child(88) { left: 4%; top: 39%; animation-duration: 9s; animation-delay: -4s; font-size: 1.1em; }
.snowflake:nth-child(89) { left: 37%; top: 65%; animation-duration: 7s; animation-delay: -6s; font-size: 0.9em; }
.snowflake:nth-child(90) { left: 47%; top: 15%; animation-duration: 10s; animation-delay: -2s; font-size: 1.4em; }
.snowflake:nth-child(91) { left: 57%; top: 71%; animation-duration: 8s; animation-delay: -7s; font-size: 1.2em; }
.snowflake:nth-child(92) { left: 67%; top: 5%; animation-duration: 9s; animation-delay: -1s; font-size: 0.8em; }
.snowflake:nth-child(93) { left: 77%; top: 45%; animation-duration: 7s; animation-delay: -4s; font-size: 1.3em; }
.snowflake:nth-child(94) { left: 87%; top: 63%; animation-duration: 10s; animation-delay: -7s; font-size: 1em; }
.snowflake:nth-child(95) { left: 97%; top: 89%; animation-duration: 8s; animation-delay: -8s; font-size: 1.1em; }
.snowflake:nth-child(96) { left: 2%; top: 33%; animation-duration: 9s; animation-delay: -4s; font-size: 0.9em; }
.snowflake:nth-child(97) { left: 99%; top: 91%; animation-duration: 7s; animation-delay: -7s; font-size: 1.5em; }
.snowflake:nth-child(98) { left: 1%; top: 27%; animation-duration: 10s; animation-delay: -3s; font-size: 1.2em; }
.snowflake:nth-child(99) { left: 98%; top: 69%; animation-duration: 8s; animation-delay: -6s; font-size: 0.8em; }
.snowflake:nth-child(100) { left: 50%; top: 49%; animation-duration: 9s; animation-delay: -5s; font-size: 1.4em; }

/* Mobile: Fewer snowflakes for better performance (40 instead of 20) */
@media (max-width: 768px) {
  .snowflake:nth-child(n+41) {
    display: none;
  }
}
